.cartButton {
    justify-content: center;
    gap: 5px;
    display: flex;
    border-radius: 4px;
    border: 1px solid #62d0b6;
    background-color: #62d0b6;
    color: #ffffff;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    flex: 1 0 0;
  }
  .cartButton:hover{
    border: 1px solid #81D9C5;
    background: #81D9C5;
    color: #ffffff;
  }
  .svg path{
    fill: #ffffff;
  }

  .cartButtonActive {
      justify-content: center;
    display: flex;
    gap: 5px;
    border-radius: 4px;
    border: 1px solid #62d0b6;
    background: #62d0b6;
    align-self: stretch;
    align-items: center;
    cursor: pointer;
    color: #ffff;
    flex: 1 0 0;
  }
  