.card{
    display: flex;
    width: 23.5%;
    height: 45%;
    border-radius: 0.4rem;
    border: 1px solid #cccccc;
    cursor: pointer;
    flex-direction: column;
}
.cardDescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50%;
    padding: 0 4%;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 40%;
    display: flex;
    align-self: stretch;
}
.description p:nth-child(1){
    font-size: 1rem;
    font-weight: 500;
    text-align: end;
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
}
.prices{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: end;
    gap: 2%;
}
.oldPrice{
    color: #a5a5a5;
    font-size: 0.8rem;
    text-decoration:line-through;
}
.newPrice{
    color: #F55157;
    font-weight: 500;
}
.buttons{
    display: flex;
    height: 30%;
    gap: 2%;
}
.imgCard{
    object-fit:contain;
    width: 100%;
    height: 60%;
}