.buyButton {
    justify-content: center;
  display: flex;
  gap: 5px;
  border-radius: 4px;
  border: 1px solid #62d0b6;
  background: #62d0b6;
  align-self: stretch;
  padding: 12px;
  cursor: pointer;
  color: #ffff;
  flex: 1 0 0;
}
