@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,600;8..144,900&family=Roboto:wght@100&display=swap');

.mainDiv {
    display: flex;
    width: 17.625rem;
    height: 23rem;
    padding: var(--spacing-xl, 1rem);
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-xl, 1rem);
    flex-shrink: 0;
    border-radius: 0.25rem;
    border: 1px solid #EEE;
    background: #FFF;
    
}

.titleSummary {
    align-self: stretch;
    color: #333;
    text-align: right;
    font-family: Roboto Flex;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5625rem; /* 138.889% */
}

.totalOrder {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-2-xl, 1.5rem);
    align-self: stretch;
}

.totalOrder :first-child {
    color: #666666;
    font-family: Roboto Flex;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.5625rem; /* 125% */
}

.totalOrder :last-child {
    flex: 1 0 0;
    color: #666;
    text-align: right;
    font-family: Roboto Flex;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5625rem; /* 156.25% */
}

.couponDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: var(--spacing-lg, 0.5rem);
}

.couponDiv div {
    display: flex;
    padding-right: 0px;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.25rem;
    border: 1px solid #EEE;
    background: #FFF;
}

.couponDiv div label {
    display: flex;
    padding: 0.625rem var(--spacing-xl, 1rem) 0.6875rem var(--spacing-xl, 1rem);
    justify-content: center;
    align-items: flex-end;
    gap: var(--spacing-lg, 0.5rem);
    border-radius: var(--radius-sm, 0.25rem) 0.25rem var(--radius-sm, 0.25rem) var(--radius-sm, 0.25rem);
    border: 1px solid #62D0B6;
    
    
    color: #A5A5A5;
    text-align: right;
    font-family: Roboto Flex;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.couponDiv div input{
    display: flex;
    padding-right: 0px;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border: none;
    background: #FFF;
    text-align: center;
    padding-inline-end: 0.75rem;

    color: #A5A5A5;
    text-align: right;
    font-family: Roboto Flex;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex: 1 0 0;
}

.line {
    width: 15.625rem;
    height: 0.0625rem;
    background: #EEE;
}

.buyButton {
    display: flex;
    padding: var(--spacing-xl, 1rem);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-lg, 0.5rem);
    align-self: stretch;
    border-radius: var(--radius-sm, 0.25rem);
    border: 1px solid #62D0B6;
    background: #62D0B6;
    color: #FFFFFF;
}