.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60%;
    background: url(../../assets/img/Banner.png) no-repeat;
    background-size: cover;
    background-position: bottom;
}
.arrowLefth{
    width: 3rem;
    height: 3rem;
    background: url(../../assets/img/arrow_left.png) no-repeat;
    background-position: center;
    border: 1px solid #EEEEEE;
    border-radius: 25PX;
}
.arrowRight{
    width: 3rem;
    height: 3rem;
    background: url(../../assets/img/arrow_right.png) no-repeat;
    background-position: center;
    border: 1px solid #EEEEEE;
    border-radius: 25PX; 
}
.bannerText{
    display: flex;
    height: 50%;
    gap: 8%;
    color: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bannerText h2{
    color: #ffffff;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
}
.banner p{
    color: #F8F8F8;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}
.buyButton{
    justify-content: center;
    display: flex;
    width: 50%;
    height: 25%;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #62d0b6;
    background: #62d0b6;
    cursor: pointer;
    color: #ffff;
}